extends layout

block content
 include menu
 h1= title
 button.btn.btn-info#btn-save(type='button') Add

 table.table.table-hover
  tr
   th Code
   th Name
   th Price
   th Stock
   th Unit
   th Category
   th Action
  each row in list_barang
   tr
    td= row.kode_brg
    td= row.nama_brg
    td= row.harga
    td=row.stok
    td=row.unit
    td=row.kategori
    td

     //-a(href='/barang_view/edit/'+row.kode_brg)
     button.btn.btn-primary#btn-edit(type='button') Edit
     a(href='/barang_view/delete/'+row.kode_brg)
      button.btn.btn-danger(type='button') Hapus

 #modal-save.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog
   .modal-content
    .modal-header
     button.close(type="button", data-dismiss="modal")
      span(aria-hidden="true") &times;
      span.sr-only Close
    .modal-body
     form
      label(for="code") Item Code
    .modal-footer
     button.btn.btn-default(type="button", data-dismiss="modal") Close

//-  mixin modal(title,id)
//- 	.modal.fade(id=id,tabindex="-1",role="dialog",aria-labelledby=id+"Label" aria-hidden="true")
//- 		.modal-dialog
//- 			.modal-content
//- 				.modal-header
//- 					button.close(type="button",data-dismiss="modal")
//- 						span(aria-hidden="true") &times;
//- 						span.sr-only Close
//- 					h4.modal-title(id=id+"Label")= title
//- 				.modal-body
//- 					block
//- 				.modal-footer
//- 					button.btn.btn-default(type="button",data-dismiss="modal") Close

 