doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    //- script(src="/javascripts/bootstrap.min.js")
    //- script(src="/javascripts/jquery.min.js")
    //- script(src="/javascripts/jquery-1.4.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    script(src="/javascripts/mm.js")
    script.
     $(document).ready(function(){
       //alert('test');
     })
  body
    block content
