
nav.navbar.fixed-top.navbar-expand-md.navbar-light
 a.navbar-brand(href='/') loc8r
  button.navbar-toggler(type='button', data-togle='collapse', data-target='#navbarMain')
   span.navbar-toggler-icon
 ul.navbar-nav

  li.nav-item
   a.nav-link(href='/') Home
    span.glyphicon.glyphicon-home
   span.glyphicon.glyphicon-home   
  li.nav-item
   a.nav-link(href='/about/') About
  li.nav-item
   a.nav-link(href='/barang_view/') Barang